body{
	margin: 65px 0 0 0;

	font-family: '宋体';
	
	#main-wap{
		font-size: 18px;
		line-height: 26px;

		a:not[class='btn']{
			color: rgb(0, 85, 128)
		}

		textarea{
			width: 500px;
		}

		h4{
			font-size: 20px;
			//color: #CD9B1D;
			margin: 20px 0 15px 0;
		}
	}
}

// fix bootstrap css
//-----------------------------------------------------
.navbar-search .search-query{
	line-height: 1.2;
}

.form-horizontal .input-append{
	display: block;
}

// page index
//-----------------------------------------------------
#page-index{
	.work-item{
		margin-bottom: 15px;

		.work-title{
			font-size: 16px;
			line-height: 30px;
			font-weight: bold;
			font-family: '宋体';
		}

		.work-author{
			font-size: 12px;
			font-weight: normal;

			a{
				color: #333;
			}
		}

		.work-content{
			font-size: 14px;
			line-height: 22px;
		}
	}

	.author-item{
		margin-bottom: 10px;

		.author{
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;

			.author-dynasty{
				font-size: 12px;
				font-weight: normal;

				a{
					color: black;
				}
			}					
		}

		.author-introduction{
			font-size: 12px;
			//line-height: 22px;
		}
	}
}

// page single work
//-----------------------------------------------------
#page-single-work{
	.work-title{
		font-size: 30px;
		line-height: 40px;
		margin-top: 10px;
		margin-bottom: 12px;
		font-weight: bold;
		font-family: '宋体';
		text-align: center;
		clear: both;
	}

	.work-author{
		text-align: center;
		margin-bottom: 20px;
		padding-right: 6px;
	}

	.work-content{
		//font-family: '仿宋_GB2312';
		font-family: '宋体';
		font-weight: bold;
		//font-size: 14pt;
	}
	.work-type-shi{
		text-align: center;
	}
	.work-type-ci{
		text-indent: 2em;
		line-height: 28px;
	}
	.work-type-wen{
		p{
			text-indent: 2em;
			line-height: 28px;
			margin-bottom: 18px;
		}
	}

	.work-collection{
		font-weight: bold;
		margin-bottom: 5px;
	}
}

// page add work
//-----------------------------------------------------
#page-add-work{
}

// page single collection
//-----------------------------------------------------
#page-single-collection{
	.collection{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';			
	}

	.work-item{
		margin-bottom: 15px;

		.work-title{
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
}


// page author
//-----------------------------------------------------
#page-author{
	.author-item{
		margin-bottom: 30px;

		.author{
			font-size: 25px;
			line-height: 40px;
			margin-bottom: 5px;
			font-weight: bold;
			font-family: '宋体';

			.author-dynasty{
				font-size: 18px;
				font-weight: normal;
				
				a{
					color: #333;
				}
			}
		}

		.author-introduction{
		}
	}
}

// page single author
//-----------------------------------------------------
#page-single-author{
	.author{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';			
	}

	.author-period{
		margin-bottom: 10px;
	}

	.author-introduction{		
	}

	.collection-item{
		margin-bottom: 15px;
		
		.collection{
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	.work-item{
		margin-bottom: 15px;

		.work-title{
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
}

// page add author & edit author
//-----------------------------------------------------
#page-add-author #form-add-author,
#page-edit-author #form-edit-author{

}

// page dynasty
//-----------------------------------------------------
#page-dynasty{
	.dynasty-item{
		margin-bottom: 30px;
		
		.dynasty{
			font-size: 25px;
			line-height: 40px;
			margin-bottom: 5px;
			font-weight: bold;
			font-family: '宋体';

			.dynasty-period{
				font-size: 18px;
				margin-left: 5px;
				font-weight: normal;
				font-family: 'arial','宋体';
				font-weight: normal;
			}
		}

		.dynasty-introduction{
		}
	}
}

// page single dynasty
//-----------------------------------------------------
#page-single-dynasty{
	.dynasty{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';
	}

	.dynasty-introduction{
	}

	.author-item{
		margin-bottom: 15px;

		.author{
			margin-bottom: 5px;
			font-weight: bold;
		}

		.author-introduction{

		}
	}
}

// page add dynasty
//-----------------------------------------------------
#page-add-dynasty{
}