{% extends "layout.html" %}

{% block page_title %}添加作品{% endblock %}
{% block page_id%}page-add-work{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function(){

	var authors;

	// search authors
	$('#btn-search-author').click(function(){
		var author = $('#input-author').val();
		$.ajax({
			'url': "{{ url_for('get_authors_by_name') }}",
			'type': 'POST',
			'dataType': 'json',
			'data': {
				'author': author
			},
			'success': function(data){
				authors = data;
				$('#select-author').empty();

				$.each(authors, function(index, author){
					var option = "<option value=" + author['AuthorID'] + ">" + author['Author'] + "</option>";
					$(option).appendTo('#select-author');
				});

				// triggle the change event to add collections
				$('#select-author').change();
			}
		});
	});

	// select for collections
	$("#select-author").change(function(){
		var authorID = $(this)[0].options[$(this)[0].selectedIndex].value,
			collections = [];

		$('#select-collection').empty();

		$.each(authors, function(index, author){
			if(author['AuthorID'] == authorID){
				// add the collections to collections <select>
				// and also add 0 option to the end 
				// because maybe some work don't belong to any collection!
				collections = author['Collections'];
				
				$.each(collections, function(index, collection){
					var option = "<option value=" + collection['CollectionID'] + ">" + collection['Collection'] + "</option>";
					$(option).appendTo('#select-collection');
				});

				var option = "<option value=0>无</option>";
				$(option).appendTo('#select-collection');
			}
		});
	});

});
</script>

<form id="form-add-work" class="form-horizontal" method="post" action="{{ url_for('add_work') }}">
	<fieldset>
		<legend>添加作品</legend>

		<div class="control-group">
			<label class="control-label">类别</label>
			<div class="controls">
				<select name='type'>
					<option value='shi'>诗</option>
					<option value='ci'>词</option>
					<option value='wen'>文</option>
					<option value='geci'>歌</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题</label>
			<div class="controls">
				<input type="text" name="title" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">作者 & 作品集</label>
			<div class="controls">
				<input id="input-author" type="text" class="span2" />
				<input id="btn-search-author" type="button" class="btn" value="搜索" />
				<select id="select-author" name="authorID" class="span2">
					<option>作者</option>
				</select>
				<select id="select-collection" name="collectionID" class="span2">
					<option>作品集</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">题解</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="introduction" rows='5'></textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="content" rows='15'></textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}