{% extends "layout.html" %}

{% block page_title %}五千年{% endblock %}
{% block page_id%}page-dynasty{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){

	$('#dyn-selector a').each(function(){
		$(this).tooltip({
			'placement': 'bottom'
		});

		$(this).click(function(){
			$('#dyn-selector a').css({
				'margin-top': '0px'
			});

			$(this).css({
				'margin-top': '11px'
			});

			// change tooltip top
			var tooltip_top = parseInt($('.tooltip').first().css('top').replace('px', ''));

			$('.tooltip').first().css({
				'top': tooltip_top + 11 + 'px'
			});

			$.ajax({
				url: "{{ url_for('get_dynasty_by_json') }}",
				type: 'POST',
				data: {
					dynasty_id: $(this).attr('data-dynasty-id')
				},
				success: function(data){
					$('#dynasty-wap').html(data);
				}
			});
		});

		// set random color
		var color = 'rgb(' + Math.floor(Math.random()*255+1) + ',' + Math.floor(Math.random()*255+1) + ',' + Math.floor(Math.random()*255+1) + ')';

		var bar_width = $(window).width() / 17;

		$(this).css({
			'height': '22px',
			//'width': $(this).attr('data-width') / 5012.0 * $(window).width() + "px",
			'width': bar_width + 'px',
			'background-color': color
		});
	});

	// when change window size
	$(window).resize(function(){
		var bar_width = $(window).width() / 17;

		$('#dyn-selector a').each(function(){
			$(this).css({
				'width': bar_width + 'px'
			});
		});
	});

	// $('#dyn-12').css({
	// 	'width': $('#dyn-12').width() + $(window).width() - $('#dyn-selector').width() - 1 + "px"
	// });
});

</script>

<ul id="dyn-selector" class="clearfix">
	{% for dynasty in dynasties %}
	<li>
		<a href="#" id="dyn-{{ dynasty.DynastyID }}" title="{{ dynasty.StartYear|replace('-', '前') }}-{{ dynasty.EndYear|replace('-', '前') }}" data-width="{{ (dynasty.EndYear - dynasty.StartYear) }}" data-dynasty-id="{{ dynasty.DynastyID }}" style="{% if dynasty.DynastyID == dynasty_id %}margin-top: 11px{% endif %}">{{ dynasty.Dynasty }}</a>
	</li>
	{% endfor %}
</ul>

<div class="row">
	<div class="span8">
		<div id="dynasty-wap">
			{{ dynasty_html|safe }}
		</div>
	</div>

	<div class="span4"></div>
</div>

{% endblock %}