{% extends "layout.html" %}

{% block page_title %}五千年{% endblock %}
{% block page_id%}page-dynasty{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){

	$('#dyn-selector a').each(function(){
		$(this).css({
			'width': $(this).attr('data-width') / 5012.0 * $(window).width() + "px"
			//'width': Math.floor($(this).attr('data-width') / 5012.0 * $(window).width()) + "px"
			//'width': Math.ceil($(this).attr('data-width') / 5012.0 * $(window).width()) + "px"
			//'width': $(this).attr('data-width') / 5012.0 * $(window).width() + "px"
		});
	});

	//alert($('#dyn-12').width());
	//alert($('#dyn-selector').width());
	//alert($(window).width());

	$('#dyn-12').css({
		'width': $('#dyn-12').width() + $(window).width() - $('#dyn-selector').width() - 1 + "px"
	});

	//alert($('#dyn-12').width());
});

</script>

<div class="row">
	<div class="span8">
		<ul id="dyn-selector" class="clearfix">
			{% for dynasty in dynasties %}
			<li><a href="#" id="dyn-{{ dynasty.DynastyID }}" title="{{ dynasty.Dynasty }}" data-width="{{ (dynasty.EndYear - dynasty.StartYear) }}" style=""></a></li>
			{% endfor %}
		</ul>

		<h2>华夏五千年</h2>

		{% for dynasty in dynasties %}
		<div class='dynasty-item'>
			<div class='dynasty'>
				<a href="{{ url_for('single_dynasty', dynastyID=dynasty.DynastyID) }}">{{ dynasty.Dynasty }}</a><!-- <sup class="dynasty-period">〔{{ dynasty.StartYear|replace('-', '前') }}年~{{ dynasty.EndYear|replace('-', '前') }}年〕</sup> -->
			</div>
			<div class='dynasty-introduction'>{{ dynasty.Introduction|truncate(100, True) }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="span4"></div>
</div>

{% endblock %}