{% extends "layout.html" %}

{% block page_title %}编辑作品{% endblock %}
{% block page_id%}page-edit-work{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function(){

	// add all the author's collections
	// to the <select> tag
	$.ajax({
		'url': "{{ url_for('get_collections_by_author') }}",
		'type': 'POST',
		'dataType': 'json',
		'data': {
			'authorID': "{{ work.AuthorID }}"
		},
		'success': function(data){
			$.each(data, function(index, collection){
				var option = "<option value=" + collection['CollectionID'] + ">" + collection['Collection'] + "</option>";
				$(option).appendTo('#select-collection');
			});

			// allow work having no collection
			var option = "<option value=0>无</option>";
			$(option).appendTo('#select-collection');
		}
	})

	var authors = [];

	// get the collections of this author
	// then copy to the global var 'authors'
	// then triggle the change event
	// which will read the global var 'authors' to the select tag
	$('#btn-search-author').click(function(){
		var author = $('#input-author').val();
		$.ajax({
			'url': "{{ url_for('get_authors_by_name') }}",
			'type': 'POST',
			'dataType': 'json',
			'data': {
				'author': author
			},
			'success': function(data){
				authors = data;
				$('#select-author').empty();

				$.each(authors, function(index, author){
					var option = "<option value=" + author['AuthorID'] + ">" + author['Author'] + "</option>";
					$(option).appendTo('#select-author');
				});

				$('#select-author').change();
			}
		});
	});

	// add author's collections to the <select> tag
	$("#select-author").change(function(){
		// get the
		var authorID = $(this)[0].options[$(this)[0].selectedIndex].value,
			collections = [];

		$('#select-collection').empty();

		$.each(authors, function(index, author){
			if(author['AuthorID'] == authorID){
				// and also add 0 option to the end 
				// because maybe some work don't belong to any collection!
				collections = author['Collections'];

				$.each(collections, function(index, collection){
					var option = "<option value=" + collection['CollectionID'] + ">" + collection['Collection'] + "</option>";
					$(option).appendTo('#select-collection');
				});

				var option = "<option value=0>无</option>";
				$(option).appendTo('#select-collection');
			}
		});
	});

});
</script>

<form id="form-edit-work" class="form-horizontal" method="post" action="{{ url_for('edit_work', work_id=work.WorkID) }}">
	<fieldset>
		<legend>编辑作品</legend>

		<div class="control-group">
			<label class="control-label">类别</label>
			<div class="controls">
				<select name='type'>
					<option value='shi' {% if work.Type == 'shi' %}selected="selected"{% endif %}>诗</option>
					<option value='ci' {% if work.Type == 'ci' %}selected="selected"{% endif %}>词</option>
					<option value='wen' {% if work.Type == 'wen' %}selected="selected"{% endif %}>文</option>
					<option value='geci' {% if work.Type == 'geci' %}selected="selected"{% endif %}>歌</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题</label>
			<div class="controls">
				<input type="text" name="title" value="{{ work.Title }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">作者 & 作品集</label>
			<div class="controls">
				<input id="input-author" type="text" class="span2" value="{{ work.Author }}" />
				<input id="btn-search-author" type="button" class="btn" value="搜索" />
				<select id="select-author" name="authorID" class="span2">
					<option value="{{ work.AuthorID }}">{{ work.Author }}</option>
				</select>
				<select id="select-collection" name="collectionID" class="span2"></select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">小序</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="foreword" rows='2'>{{ work.Foreword }}</textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">题解</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="introduction" rows='5'>{{ work.WorkIntroduction }}</textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea name="content" class="input-xxlarge" id="work-content" rows='15'>{{ work.Content }}</textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
