<!doctype html>
<html>
	<head>
		<title>{% block page_title %}西窗烛{% endblock %}</title>
		<link rel="Shortcut Icon" href="{{ url_for('static', filename='img/xichuangzhu.ico') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.0.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	</head>

	<body id="{% block page_id %}{% endblock %}">
	
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ url_for('index') }}">西窗烛</a>

					<ul class="nav">
						<li><a href="{{ url_for('index') }}">首页</a></li>
						<li><a href="{{ url_for('my_love') }}">收藏</a></li>
						<li><a href="#">论坛</a></li>
						<li><a href="{{ url_for('shop') }}">物</a></li>
					</ul>

					<form class="navbar-search">
						<input type="text" class="search-query" placeholder="作品 / 文学家">
					</form>
					
					{% if session.user_id %}

					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{{ session.user_name }} <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('people', user_id=session.user_id) }}">主页</a></li>
								<li><a href="{{ url_for('logout') }}">退出</a></li>
							</ul>
						</li>
					</ul>

					{% if session.user_id == 45197381 %}
					<ul class="nav pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								添加 <span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="{{ url_for('add_work') }}">作品</a></li>
								<li><a href="{{ url_for('add_collection') }}">作品集</a></li>
								<li><a href="{{ url_for('add_author') }}">文学家</a></li>
								<li><a href="{{ url_for('add_dynasty') }}">朝代</a></li>
								<li><a href="{{ url_for('add_product') }}">商品</a></li>
							</ul>
						</li>
					</ul>
					{% endif %}

					{% else %}

					<a href="https://www.douban.com/service/auth2/auth?client_id=0cf909cba46ce67526eb1d62ed46b35f&redirect_uri=http://localhost:5000/login/douban&response_type=code"><img id="douban-icon" title="使用豆瓣帐号登陆" src="http://img3.douban.com/pics/douban-icons/favicon_24x24.png" /></a>

					{% endif %}

				</div>
			</div>
		</div>

		<div id="main-wap" class="container">
		{% block body %}{% endblock %}
		</div>

		<div id="footer">2012 © 西窗烛</div>
	</body>
</html>