{% extends "layout.html" %}

{% block page_title %}物{% endblock %}
{% block page_id%}page-shop{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	var width = 290, h_gap = 20, v_gap = 22;

	var lefts = [0, width+h_gap, 2*(width+h_gap)],
		tops = [0, 0, 0];

	$('.product-image').each(function(index){
		$(this).css({
			'width': '290px',
			'position': 'absolute',
			'left': lefts[index%3] + 'px',
			'display': 'none'
		})

		// only when a img loaded, it's height becomes known.
		$(this).load(function(){

			$(this).css({
				'display': 'block',
				'top': tops[index%3] + 'px'
			});

			// overadd height
			tops[index%3] += $(this).height() + v_gap;

			// set mother wap's height
			$('.products-wap').css('height', (tops[index%3] + 20) + 'px');
		});
	});
});

</script>

<div class="products-wap clearfix">
	{% for product in products %}
	<div class="product-item">
		<a href="{{ url_for('single_product', product_id=product.ProductID)}}">
			<img class="product-image" title="{{ product.Product }}" src="{{ product.ImageUrl }}">
		</a>
	</div>
	{% endfor %}
</div>

{% endblock %}