{% extends "layout.html" %}

{% block page_title %}{{ collection.Collection }}{% endblock %}
{% block page_id%}page-single-collection{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<div class="btn-group pull-right">
			<a class="btn btn-primary" href="{{ url_for('edit_collection', collectionID=collection.CollectionID) }}">编辑</a>
		</div>

		<div class="collection">{{ collection.Collection }}</div>

		<div class="collection-author">
			〔<a href="{{ url_for('single_dynasty', dynastyID = collection.DynastyID) }}">{{ collection.Dynasty }}</a>〕<a href="{{ url_for('single_author', authorID=collection.AuthorID) }}">{{ collection.Author }}</a>
		</div>

		<h4>简介</h4>
		<div class="collection-introduction">{{ collection.Introduction }}</div>

		<h4>作品</h4>
		{% for work in works %}
		<div class="work-item">
			<div class='work-title'><a href="{{url_for('single_work', workID=work.WorkID)}}">{{ work.Title }}</a></div>
			<div class='work-content'>{{ work.Content|truncate(20, True) }}</div>
		</div>
		{% endfor %}

	</div>

	<div class="span4"></div>
</div>

{% endblock %}