{% extends "layout.html" %}

{% block page_title %}{{ author.Author }}{% endblock %}
{% block page_id%}page-single-author{% endblock %}

{% block body %}
<div class="row">
	<div class="span8">
		{% if session.user_id == 45197381 %}
		<a class="btn btn-small pull-right" href="{{ url_for('edit_author', authorID=author.AuthorID) }}">编辑  <span class="icon-edit"></span></a>
		{% endif %}
	
		<div class="author">
			<h1>{{ author.Author }}</h1><!-- <span class="author-quote">{{ author.Quote }}</span> -->
		</div>
	
		{% if author.DeathYear == 0 %}
		<div class="author-period">〔<a href="{{ url_for('single_dynasty', dynastyID=author.DynastyID) }}">{{ author.Dynasty }}</a>〕{{ author.BirthYear }}年</div>
		{% else %}
		<div class='author-period'>〔<a href="{{ url_for('single_dynasty', dynastyID=author.DynastyID) }}">{{ author.Dynasty }}</a>〕{{ author.BirthYear|replace('-', '前') }}年 ~ {{ author.DeathYear|replace('-', '前') }}年</div>
		{% endif %}

		<h2>简介</h2>
		<div class='author-introduction'>{{ author.Introduction }}</div>

		{% if collections|length != 0 %}
		<h2>
			作品集
			<!-- <sup><span class="badge badge-inverse">{{ collections|length }}</span></sup> -->
		</h2>

		{% for collection in collections %}
		<div class="collection-item">
			<div class="collection"><a href="{{ url_for('single_collection', collectionID=collection.CollectionID) }}">{{ collection.Collection }}</a></div>
			<div class="collection-introduction">{{ collection.Introduction|truncate(50, True) }}</div>
		</div>
		{% endfor %}

		{% endif %}

		<h2>
			作品
			<!-- <sup>
				<span class="badge badge-inverse">
					诗{{ worksNum.shi }}/词{{ worksNum.ci }}/文{{ worksNum.wen }}
					{{ works|length }}
				</span>
			</sup> -->
		</h2>

		{% for work in works %}
		<div class="work-item">
			<div class='work-title'><a href="{{url_for('single_work', work_id=work.WorkID)}}">{{ work.Title }}</a></div>
			<div class='work-content'>{{ work.Content|truncate(30, True) }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="span4"></div>
</div>

{% endblock %}