{% extends "layout.html" %}

{% block page_title %}{{ work.Title }}{% endblock %}
{% block page_id%}page-single-work{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<div class="pull-right">
			<a class="btn btn-primary" href="{{ url_for('edit_work', workID=work.WorkID) }}">编辑</a>
		</div>

		<div class="work-title">{{ work.Title }}</div>
		<div class="work-author">
			〔<a href="{{ url_for('single_dynasty', dynastyID = work.DynastyID) }}">{{ work.Dynasty }}</a>〕<a href="{{ url_for('single_author', authorID=work.AuthorID) }}">{{ work.Author }}</a></div>
		<div class="work-content work-type-{{ work.Type }}">{{ work.Content|safe }}</div>

		{% if work.CollectionID != 0 %}
		<h2>作品集</h2>
		<div class="work-collection"><a href="{{ url_for('single_collection', collectionID=work.CollectionID) }}">{{ work.Collection }}</a></div>
		<div class="work-collection-introduction">{{ work.Introduction|truncate(60, True) }}</div>
		{% endif %}

		<h2>题解</h2>

		<h2>注释</h2>
		
		<h2>点评</h2>
	</div>

	<div class="span4">


	</div>
</div>

{% endblock %}