{% extends "layout.html" %}

{% block page_title %}{{ dynasty.Dynasty }}{% endblock %}
{% block page_id%}page-single-dynasty{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<a class="btn btn-primary pull-right" href="{{ url_for('edit_dynasty', dynastyID=dynasty.DynastyID) }}">编辑</a>

		<h1 class='dynasty'>{{ dynasty.Dynasty }}</h1>
		<div class="dynasty-period">{{ dynasty.StartYear|replace('-', '前') }}年~{{ dynasty.EndYear|replace('-', '前') }}年</div>

		<h2>简介</h2>
		<div class='dynasty-introduction'>{{ dynasty.Introduction }}</div>

		<h2>
			文学家
			<!-- <sup><span class="badge badge-inverse">{{ authors|length }}</span></sup> -->
		</h2>

		{% for author in authors %}
		<div class="author-item">
			<div class='author'><a href="{{ url_for('single_author', authorID=author.AuthorID) }}">{{ author.Author }}</a></div>
			<div class='author-introduction'>{{ author.Introduction|truncate(30, True) }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="span4"></div>
</div>

{% endblock %}