body{
	margin: 65px 0 0 0;
	
	#main-wap{
		font-size: 18px;
		line-height: 26px;

		a:not[class='btn']{
			color: rgb(0, 85, 128)
		}

		textarea{
			width: 500px;
		}

		h4{
			font-size: 20px;
			color: #CD9B1D;
			margin: 20px 0 15px 0;
		}

		legend{
			//padding-left: 180px;
		}

		.input-append{
			display: block;
		}
	}
}

// page index
//-----------------------------------------------------
#page-index{
	.work-item{
		margin-bottom: 40px;

		.work-title{
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 5px;
			font-weight: bold;
			font-family: '宋体';
		}

		.work-author{
			font-size: 18px;
			font-weight: normal;

			a{
				color: #333;
			}
		}
	}
}

// page single work
//-----------------------------------------------------
#page-single-work{
	.work-title{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';
	}

	.work-author{
		margin-bottom: 10px;
	}

	.work-content{
	}
}

// page add work
//-----------------------------------------------------
#page-add-work{

}

// page author
//-----------------------------------------------------
#page-author{
	.author-item{
		margin-bottom: 40px;

		.author{
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 5px;
			font-weight: bold;
			font-family: '宋体';

			.author-dynasty{
				font-size: 18px;
				font-weight: normal;
				
				a{
					color: #333;
				}
			}
		}

		.author-introduction{
		}
	}
}

// page single author
//-----------------------------------------------------
#page-single-author{
	.author{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';			
	}

	.author-period{
		margin-bottom: 10px;
	}

	.author-introduction{		
	}

	.work-item{
		margin-bottom: 15px;

		.work-title{
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
}

// page add author & edit author
//-----------------------------------------------------
#page-add-author #form-add-author,
#page-edit-author #form-edit-author{

}

// page dynasty
//-----------------------------------------------------
#page-dynasty{
	.dynasty-item{
		margin-bottom: 40px;
		
		.dynasty{
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 5px;
			font-weight: bold;
			font-family: '宋体';

			.dynasty-period{
				font-size: 18px;
				margin-left: 5px;
				font-weight: normal;
				font-family: 'arial','宋体';
				font-weight: normal;
			}
		}

		.dynasty-introduction{
		}
	}
}

// page single dynasty
//-----------------------------------------------------
#page-single-dynasty{
	.dynasty{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 5px;
		font-weight: bold;
		font-family: '宋体';
	}

	.dynasty-introduction{
	}

	.author-item{
		margin-bottom: 15px;

		.author{
			margin-bottom: 5px;
			font-weight: bold;
		}

		.author-introduction{

		}
	}
}

// page add dynasty
//-----------------------------------------------------
#page-add-dynasty{
}