{% extends "layout.html" %}

{% block page_title %}添加作品{% endblock %}
{% block page_id%}page-add-work{% endblock %}

{% block body %}

<form id="form-add-work" class="form-horizontal" method="post" action="{{ url_for('add_work') }}">
	<fieldset>
		<legend>添加作品</legend>

		<div class="control-group">
			<label class="control-label">类别</label>
			<div class="controls">
				<select name='type'>
					<option value='shi'>诗</option>
					<option value='ci'>词</option>
					<option value='wen'>文</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题</label>
			<div class="controls">
				<input type="text" name="title" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">作者</label>
			<div class="controls">
				<input type="text" name="author" class="span2" />
				<input type="button" class="btn" value="搜索" />
				<select name="authorID" class="span2">
					<option>作者</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea name="content" rows='10'></textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}