{% extends "layout.html" %}

{% block page_title %}添加作品{% endblock %}
{% block page_id%}page-add-work{% endblock %}

{% block body %}

<form id="form-add-work" method="post" action="{{ url_for('add_work') }}">
	<fieldset>
		<legend>添加作品</legend>

		<div>
			<label>类别</label>
			<select name='type'>
				<option value='shi'>诗</option>
				<option value='ci'>词</option>
				<option value='wen'>文</option>
			</select>

		</div>

		<div>
			<label>标题</label>
			<input type="text" name="title" />
		</div>

		<div>
			<label>作者</label>
			<input type="text" name="author" />
		</div>

		<div>
			<label>内容</label>
			<textarea name="content" id="work-content" rows='10'></textarea>
		</div>

		<input type="submit" value="提交" class="btn btn-primary" />
	</fieldset>
</form>

{% endblock %}