{% extends "layout.html" %}

{% block page_title %}朝代{% endblock %}
{% block page_id%}page-dynasty{% endblock %}

{% block body %}

<div class="row">
	<div class="span9">

		{% for dynasty in dynasties %}
		<div class='dynasty-item'>
			<div class='dynasty'><a href="{{ url_for('single_dynasty', dynastyID=dynasty.DynastyID) }}">{{ dynasty.Dynasty }}</a></div>
			<div class='dynasty-introduction'>{{ dynasty.Introduction }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="span3"></div>
</div>

{% endblock %}