{% extends "layout.html" %}

{% block page_title %}编辑作品{% endblock %}
{% block page_id%}page-edit-work{% endblock %}

{% block body %}

<form id="form-edit-work" class="form-horizontal" method="post" action="{{ url_for('edit_work', workID=work.WorkID) }}">
	<fieldset>
		<legend>编辑作品</legend>

		<div class="control-group">
			<label class="control-label">类别</label>
			<div class="controls">
				<select name='type'>
					<option value='shi' {% if work.Type == 'shi' %}selected="selected"{% endif %}>诗</option>
					<option value='ci' {% if work.Type == 'ci' %}selected="selected"{% endif %}>词</option>
					<option value='wen' {% if work.Type == 'wen' %}selected="selected"{% endif %}>文</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">标题</label>
			<div class="controls">
				<input type="text" name="title" value="{{ work.Title }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">作者</label>
			<div class="controls">
				<input type="text" name="author" value="{{ work.Author }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea name="content" id="work-content" rows='15'>{{ work.Content }}</textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}