<!doctype html>
<html>
	<head>
		<title>{% block page_title %}西窗烛{% endblock %}</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
	</head>

	<body id="{% block page_id %}{% endblock %}">
	
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ url_for('index') }}">西窗烛</a>

					<ul class="nav">
						<li><a href="{{ url_for('index') }}">首页</a></li>
						<li><a href="{{ url_for('author') }}">作者</a></li>
						<li><a href="{{ url_for('dynasty') }}">朝代</a></li>
						<li><a href="{{ url_for('add_work') }}">添加</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
		{% block body %}{% endblock %}
		</div>
	</body>
</html>