{% extends "layout.html" %}

{% block page_title %}{{ work.Title }}{% endblock %}
{% block page_id%}page-single-work{% endblock %}

{% block body %}

<div class="row">
	<div class="span9">
		<div class="btn-group pull-right">
			<a class="btn btn-primary" href="{{ url_for('edit_work', workID=work.WorkID) }}">编辑</a>
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">删除</a></li>
			</ul>
		</div>

		<div class="work-title">{{ work.Title }}</div>
		<div class="work-author">
			〔<a href="{{ url_for('single_dynasty', dynastyID = work.DynastyID) }}">{{ work.Dynasty }}</a>〕<a href="{{ url_for('single_author', authorID=work.AuthorID) }}">{{ work.Author }}</a></div>
		<div class="work-content">{{ work.Content }}</div>

		<h4>注释</h4>
		
		<h4>点评</h4>
	</div>

	<div class="span3"></div>
</div>

{% endblock %}