{% extends "layout.html" %}

{% block page_title %}{{ author.Author }}{% endblock %}
{% block page_id%}page-single-author{% endblock %}

{% block body %}
<div class="row">
	<div class="span9">
		<a class="btn btn-primary pull-right" href="{{ url_for('edit_author', authorID=author.AuthorID) }}">编辑</a>
	
		<div class='author'>{{ author.Author }}</div>
		<div class='author-period'>〔<a href="{{ url_for('single_dynasty', dynastyID=author.DynastyID) }}">{{ author.Dynasty }}</a>〕{{ author.BirthYear|replace('-', '前') }}年~{{ author.DeathYear|replace('-', '前') }}年</div>

		<h4>简介</h4>
		<div class='author-introduction'>{{ author.Introduction }}</div>
		<h4>
			作品
			<sup>
				<span class="badge badge-inverse">
					诗
					{{ worksNum.shi }}
					/
					词
					{{ worksNum.ci }}
					/
					文
					{{ worksNum.wen }}
				</span>
			</sup>
		</h4>
		{% for work in works %}
		<div class="work-item">
			<div class='work-title'><a href="{{url_for('single_work', workID=work.WorkID)}}">{{ work.Title }}</a></div>
			<div class='work-content'>{{ work.Content|truncate(20, True) }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="span3"></div>
</div>

{% endblock %}